In [1]:
# Question: Find the maximum and minimum values in a list
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

In [ ]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")

list1=[]
for i in range(1,11):
    list1.append(i*i)

print(list1)

Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")

list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_lists=0
for i in list1:
    if i%2==0:
     sum_lists=sum_lists+i

print(sum_lists)

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
30

In [13]:

# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")

list1_remove=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
remove_duplicates=[]

for i in range(len(list1_remove)):
    if list1_remove[i] not in remove_duplicates:
        remove_duplicates.append(list1_remove[i])

print(remove_duplicates)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")

list1 = [64, 34, 25, 12, 22, 11, 90]
n = len(list1)

for i in range(n):
    for j in range(0, n - i - 1):
        if list1[j] < list1[j + 1]:
            
            list1[j], list1[j + 1] = list1[j + 1], list1[j]

print("Sorted list (Descending):", list1)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
Sorted list (Descending): [90, 64, 34, 25, 22, 12, 11]

In [4]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")

lists1=[15, 23, 31, 42, 56, 78, 91]
length=len(list1)
sum=0

for i in list1:
    sum=sum+i

average=sum/length

print(average)

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
36.857142857142854

In [11]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("Question 6: Create a list of first 15 Fibonacci numbers")

num1=0
num2=1
list1=[num1,num2]
for i in range(3,16):
    num=num1+num2
    list1.append(num)
    num1=num2
    num2=num
print(list1)

Question 6: Create a list of first 15 Fibonacci numbers
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [3]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")

list1=[45, 67, 23, 89, 12, 34, 78]
list_sorted=[]

list_sorted=sorted(list1)
print(list_sorted[-2])

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
78

In [16]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")

list_reverse=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list_reverse[::-1])

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")

list1=[1, 5, 2, 5, 3, 5, 4, 5, 6]
count=0
for i in list1:
    if i==5:
        count+=1
print(count)

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
4

In [7]:
# Question 10: Create a list of prime numbers between 1 and 50
print("Question 10: Create a list of prime numbers between 1 and 50")

#list1 = []
#for i in range(2, 51):
   # is_prime = True
    #for j in range(2, int(i**0.5) + 1):
     #   if i % j == 0:
      #      is_prime = False
       #     break
    #if is_prime:
 #       list1.append(i)
#
#print(list1)

primes = []

for num in range(2, 51):
    # assume num is prime
    for i in range(2, num):
        if num%i == 0:
            # num is not prime
            break
    else:
        primes.append(num)

print(primes)

Question 10: Create a list of prime numbers between 1 and 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [17]:

# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

list1=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list_flatten=[]
for i in list1:
    for num in i:
        list_flatten.append(num)
print(list_flatten)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print("Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")

list1=[1, 2, 3, 4, 5]
list2=[4, 5, 6, 7, 8]

list3=[]

for i in list1:
    if i in list2:
     list3.append(i)

print(list3)

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
1
1
1
1
1
[4, 5]

In [7]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")

list_creation=[]
for i in range(1,6,2):
    for j in range(i,i+1):
        list_creation.append([i,i+1])
print(list_creation)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [10]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

list1=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list_sum=[]
for sublist in  list1:
    total=0
    for j in sublist:
      total=total+j
    list_sum.append(total)
print(list_sum)

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[6, 15, 24]

In [13]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

list1=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list_even=[]

for i in list1:
    
    for j in i:
       if j%2==0:
           list_even.append(j)
print(list_even)

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[2, 4, 6, 8]

In [14]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")

list1= [1, "hello", 3.14, True, [1, 2, 3]]
for item in list1:
    print(f"{item} is of type {type(item)}")

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
1 is of type <class 'int'>
hello is of type <class 'str'>
3.14 is of type <class 'float'>
True is of type <class 'bool'>
[1, 2, 3] is of type <class 'list'>

In [19]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")

list1=['apple', 'banana', 'cherry', 'date']
length_string=[]
for i in list1:
    length_string.append(len(i))

print(length_string)

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
[5, 6, 6, 4]

In [21]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")

create=[(1, 'a'), (2, 'b'), (3, 'c')]

for i in create:
    print(f" create a list{type(i)}")

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
 create a list<class 'tuple'>
 create a list<class 'tuple'>
 create a list<class 'tuple'>

In [23]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")

list_in_tuple=[(1, 'a'), (2, 'b'), (3, 'c')]
list1=[]

for i in list_in_tuple:
    list1.append(i[0])
print(list1)

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
[1, 2, 3]

In [27]:
# Question 25: Extract all 'name' values from list of dictionaries
print("Question 25: Extract all 'name' values from list of dictionaries")

dict1=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
for i in dict1:
   print(i["name"])

Question 25: Extract all 'name' values from list of dictionaries
Alice
Bob

In [30]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")

dict1=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print(dict1)

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [31]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
print("Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]")

list1=[1, [2, 3], [4, [5, 6]], 7]
count_list=[]
for i in list1:
    for j in i:
        count=0
        for k in j:
            count=count+k
            count_list.append(count)
print(count_list)

Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

TypeError: 'int' object is not iterable